<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <timestamp key="timestamp" datePattern="yyyy-MM-dd-HHmmss"/>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>server-errors-${timestamp}.log</file>
    <append>true</append>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- TRACE has extreme detail on each record fetched, DEBUG shows results and ASCII table -->
  <logger name="org.jooq.tools.LoggerListener" level="info"/>
  <!-- TRACE lists each binding variable -->
  <logger name="org.jooq.impl.DefaultBinding" level="debug"/>
  <!-- DEBUG has irrelevant complaints available jackson/jaxb -->
  <logger name="org.jooq.tools.Convert" level="info"/>
  <logger name="org.jooq.impl.Convert" level="info"/>
  <!-- Obnoxious tip of the day spam -->
  <logger name="org.jooq.Constants" level="warn"/>

  <logger name="com.amazonaws" level="info"/>
  <logger name="software.amazon.awssdk" level="info"/>
  <logger name="software.amazon.payloadoffloading.S3Dao" level="off"/>
  <!-- .wire is super chatty in debug, .headers is less but still annoying. Just block all of it -->
  <logger name="org.apache.http" level="info"/>

  <root level="trace">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>